<body>
    <div class="navbar">
        <img style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;
        width: 50px; height: 50px;" src="../assets/135282_5389796_956316_image.png">

        <input class="nav-search" type="text" name="srch" id="srch">
        <i class='fas fa-search' style='font-size:26px'></i>
        <i class="fas fa-shopping-cart" style='margin-left: 70px; font-size:26px'></i>
    </div>


    <div class="fakeimg">
        <img style="height: 50%; width: 50%;" src="../assets/download.jpg">
        <!-- <img src [images]="images" [autoslide]="true" [duration]="4000"></img> -->
    </div>
    <div class="sliders">
        <button (click)="prevImageClick()">Prev</button>
        <button (click)="nextImageClick()">Next</button>
    </div>

    <div class="content">
        <h3 style="text-align: center; font-weight: bolder;">Categories</h3>
    </div>





</body>